/* Eric Meyer's Reset CSS v2.0 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
font-family: 'Montserrat', sans-serif;
}
.cursor-circle {
    position: fixed;
    width: 10px;
    height: 10px;
    background-color: #8f8e8d;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: width 0.3s, height 0.3s, background-color 0.3s;
    z-index: 9999;
}
.cursor-circle.hovered {
    width: 80px;
    height: 80px;
    background-color: rgba(109, 109, 109, 0.4);
    mix-blend-mode: multiply; 
}
body{
    background-color: black;
    color: white;
    font-family: 'Arial',sans-serif;
}
.container {
    max-width: 1170px;
    margin: 0 auto;
}
h1{
    padding-left: 25px;
    font-size: 1.3em;
}
nav{
    background-color:rgba(105, 105, 105,0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}
nav a{
    text-decoration: none;
    font-family: 'Verdana',sans-serif;
    color: rgb(207, 207, 207);
    cursor: pointer;
    background: linear-gradient(to right, #fa5b0f 50%, white 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: background-position 0.4s ease;
    padding: 0 5px;
}
.cv{
    background-color: #fa5b0f;
    padding: 14px;    
    border-radius: 30%;
    margin: 40px;
    font-weight: bold;
    transition: all 0.3s ease;
}
.cv:hover{
    background-color: #8f8e8d;
    color: #e9e7e6;
    transform: scale(1.05);
    box-shadow: 2px 2px 30px #8f8e8d;
}
nav a:hover{
    background-position: 0 0;
}
.link{
    padding-right: 110px;
}
.link li{
    padding-left: 10px;
}

nav li{
    display: inline-block;
}
.my-img img{
    width: 200px;
    height: 200px;
}
.tts{
    background-color: brown;

}
.main-welcom{
    width: 90%;
}
.container1{
    display: flex;
    margin: 50px auto;
    justify-content: space-evenly;
}
.welcom .wc_p{
    font-size: 0.9em;
    font-weight: lighter;
    color: rgb(160, 160, 160);
    background-color: rgba(77, 76, 76, 0.404);
    padding: 5px;
    border-radius: 50px;
    width: 61%;
    text-align: center;
    transition: color 0.3s ease;
}
.welcom .wc_p:hover{
    color: rgb(77, 76, 76);
    background-color: rgb(160, 160, 160);
}
.welcom{
    position: relative;
    right: 110px;
    line-height: 1.5;
}
.welcom .sp_ab{
    background-image: linear-gradient(#f7f5f5, #333333);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    display: inline-block;
    padding: 10px;
    border-radius: 50px;
    font-size: 1.5em;
    font-weight: 100;
}
.welcom h2{
    font-size: 2.5em;
    font-weight: 100;
    color: white;
}
.welcom .sp_ab:hover{
    background-image: linear-gradient(#f7f5f5, #333333);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    display: inline-block;
    padding: 10px;
    border-radius: 50px;
    font-size: 1.5em;
    font-weight: 100;
    animation: glow 1s ease-in-out infinite alternate;
}
@keyframes glow {
    from {
        text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    }
    to {
        text-shadow: 0 0 20px rgba(255, 255, 255, 1);
    }
}
.welcom h3{
    font-size: 1.5em;
    font-weight: 100;
    color:#6a6d72;
    width: 100%;
    padding: 0;
    margin-top: -15px;    
}
.welcom p{
    font-size: 1.5em;
    font-weight: lighter;
    color: rgb(160, 160, 160);
    padding: 5px;
    border-radius: 50px;
    width: 100%;
}
.container1 .my-img img{
    border: #222222 solid 5px;
    border-radius: 50%;
    box-shadow: 2px 2px 30px rgb(146, 146, 146);
}
.about h2{
    font-size: 2em;
    font-weight: 100;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 20px;
}
.about{
    width: 90%;
    margin: 0 auto;
    padding: 40px 0;
}
.about p{
    width: 65%;
    margin:0 auto;
    font-size: 1.2em;
    text-align: center;
    line-height: 1.6;
}
.main_skills{
    margin: 0 auto;
    width: 90%;
    text-align: center;
    line-height: 1.3;
    padding: 50px 0;
}
.main_skills h2{
    font-size: 2.1em;
    margin: 0 auto;
    padding-bottom: 30px;
    border-bottom: 1px solid #8f8e8d;
}
.skills{
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skills1{
    display: flex;
    justify-content: center;
    width: 90%;
    gap: 40px;
    padding-bottom: 40px;
    padding-top: 20px;
}
.skills2{
    display: flex;
    justify-content: center;
    width: 90%;
    gap: 40px;
}
.ht{
    border: 1px solid #8f8e8d;
    border-radius: 20%;
    padding: 30px;
    transition: all 0.3s ease;
    width:30%;
}
.cs{
    border: 1px solid #8f8e8d;
    border-radius: 20%;
    padding: 30px;
    transition: all 0.3s ease;
    width:30%;
}
.js{
    border: 1px solid #8f8e8d;
    border-radius: 20%;
    padding: 30px;
    transition: all 0.3s ease;
    width:30%;
}
.jq{
    border: 1px solid #8f8e8d;
    border-radius: 20%;
    padding: 30px;
    transition: all 0.3s ease;
    width:30%;
}
.bt{
    border: 1px solid #8f8e8d;
    border-radius: 20%;
    padding: 30px;
    transition: all 0.3s ease;
    width:30%;
}
.design{
    border: 1px solid #8f8e8d;
    border-radius: 20%;
    padding: 30px;
    transition: all 0.3s ease;
    width:30%;
}
.sp_ht{
    width: 100%;
    border: 2px solid #fa5b0f;
    margin-top: 5px;
}
.sp_cs{
    width: 70%;
    border: 2px solid #fa5b0f;
    margin-top: 5px;
}
.sp_js{
    width: 50%;
    border: 2px solid #fa5b0f;
    margin-top: 5px;
}
.sp_jq{
    width: 20%;
    border: 2px solid #fa5b0f;
    margin-top: 5px;
}
.sp_bt{
    width: 10%;
    border: 2px solid #fa5b0f;
    margin-top: 5px;
}
.sp_design{
    width: 80%;
    border: 2px solid #fa5b0f;
    margin-top: 5px;
}
.ht:hover,.cs:hover,.bt:hover,.design:hover,.jq:hover,.js:hover{
    transform: scale(1.05);
    box-shadow: 2px 2px 30px #8f8e8d;
    background-color: white;
    color: black ;
}
.project h2{
    font-size: 2.1em;
    margin: 0 auto;
    padding-bottom: 10px;
    text-align: center;
}
.project .p_project{
    text-align: center;
    color: rgb(160, 160, 160);
    font-size: 1.2em;
    padding-bottom: 30px;
}
.project{
    padding-bottom: 90px;
}
.cards img{
    width: 99.9%;
    height: 50%;    
    border-radius: 2%;
    
}
.cards:hover{
    transform: scale(1.05);
    box-shadow: 2px 2px 30px #8f8e8d;
}
.cards{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.712);
    width: 70%;
    margin: 0 auto;
    height: auto;
    line-height: 1.9;
    border-radius: 2%;
    padding-bottom: 20px;
    transition: transform 0.3s ease-in-out ;
}
.cards h3{
    font-size: 1.7em;
    color: black;
    padding-left: 30px;
    font-weight: 400;
}
.cards p{
    color: rgb(70, 70, 70);
    font-size: 1.2em;
    padding-left: 30px;
}
.cards ul{
    display: flex;
    gap: 20px;
    padding-top: 15px;
}
.cards ul li{
    list-style-type: none;
}
.cards ul li span{
    background-color:#727272ab;
    color: #1b1b1b;
    font-weight: 500;
    border-radius: 40%;
    padding: 6px;
    font-size: .9em;
    margin-bottom: 2px;
    margin-left: 20px;
}
.contact h2{
    font-size: 2.1em;
    margin: 0 auto;
    padding-bottom: 10px;
    padding-left: 20px;
    border-bottom: 1px solid #6a6d7273;
    padding-top: 70px;
}
.container4{
    display: flex;
    gap: 50px;
    margin: 0 10px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.infos{
    width: 45%;
    line-height: 1.4;
}
.infos h3{
    color: white;
    width: 100%;
    font-size: 2.4em;
}
.infos p{
    color: #6a6d72;
    font-size: 1.3em;
}
.infos p span{
    color: #fa5b0f;
    font-size: 1.2em;
    text-decoration: underline;
}
.infos p span a{
    color: #fa5b0f;
}
form{
    width: 45%;
}
input{
    background-color: black;
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: .5px solid #333333;
    color: white;
}
::placeholder{
    color: white;
    font-weight: 500;
}
textarea{
    background-color: black;
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border: .5px solid #333333;
    color: white;
}
.nm_em{
    display: flex;
    gap: 10px;
    width: 100%;
}
button{
    background-color: black;
    color: white;
    font-weight: 500;
    width: 107%;
    padding: 15px;
    border-radius: 5px;
    border: .5px solid #333333;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    transition: color 0.3s ease;
}
button:hover{
    color: #c03d01;
}
footer{
    background-color: #333333;
    color: white;
    font-size: .9em;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 30px;
    height: auto;
}



/* --- RESPONSIVE MEDIA QUERIES --- */

@media screen and (max-width: 768px) {
    .cursor-circle {
        display: none !important;
    }
    nav {
        position: relative;
        padding: 0 15px;
    }
    .menu-checkbox {
        display: none;
    }
    .burger-bars {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 21px;
        cursor: pointer;
        z-index: 1000;
    }

    .burger-bars span {
        display: block;
        height: 3px;
        width: 100%;
        background-color: white;
        border-radius: 3px;
        transition: all 0.3s ease;
    }
    .menu-checkbox:checked ~ .burger-bars span:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
    }
    .menu-checkbox:checked ~ .burger-bars span:nth-child(2) {
        opacity: 0;
    }
    .menu-checkbox:checked ~ .burger-bars span:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
    }
    .link {
        display: none;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        background-color: rgba(20, 20, 20, 0.95);
        backdrop-filter: blur(10px);
        padding: 20px 0;
        box-shadow: 0 10px 15px rgba(0,0,0,0.5);
        z-index: 999;
        padding-right: 0;
    }

    .link ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .link li {
        padding: 15px 0;
        width: 100%;
        text-align: center;
    }
    .cv {
        margin: 10px 0 0 0;
        display: inline-block;
        width: auto;
    }
    .menu-checkbox:checked ~ .link {
        display: block;
    }
    .container1 {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 30px;
        margin: 30px auto;
    }

    .welcom {
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .welcom .wc_p {
        width: 80%;
    }
    .welcom p{
        width: 90%;
    }
    .about p {
        width: 90%;
        font-size: 1.1em;
    }
    .skills1, .skills2 {
        flex-direction: column;
        width: 100%;
        gap: 20px;
        padding-bottom: 0;
    }    
    .skills1 { padding-top: 10px; }
    .skills2 { padding-top: 20px; }

    .ht, .cs, .js, .jq, .bt, .design {
        width: 85%;
        border-radius: 15px;
    }
    .cards {
        width: 90%;
    }    
    .cards ul {
        justify-content: center;
        padding-left: 0;
    }    
    .cards ul li span {
        margin-left: 0;
    }
    .container4 {
        flex-direction: column;
        gap: 40px;
    }
    .infos, form {
        width: 100%;
    }
    .nm_em {
        flex-direction: column;
        gap: 0;
    }
    button {
        width: 100%; 
    }
}
@media screen and (min-width: 769px) {
    .burger-bars, .menu-checkbox {
        display: none;
    }
}